body {
  height: 100%;
  background-color: white;
  font-family: "Source Code Pro", monospace;
  color: black;
}

.jumbotron {
  text-align: center;
  color: black;
  background-color: white;
  font-family: "Source Code Pro", monospace;
}
.display-4 {
  font-family: "Source Code Pro", monospace;
}

#login {
  border: 3px solid #1db954;
  background-color: #1db954;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  height: auto;
  width: auto;
  font-family: "Source Code Pro", monospace;
}

#login:hover {
  background-color: rgb(50, 214, 107);
  border-color: rgb(50, 214, 107);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#style {
  font-size: 20px;
  width: 70%;
  height: 650px;
  line-height: 3em;
  margin: 15px auto;
  overflow: scroll;
  padding: 10px;
  background-color: whitesmoke(0, 0, 0, 0.692);
  color: black;
}

#setlist-results {
  color: black;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

/* THIS IS FOR THE SEARCH FIELD */
#form {
  margin: 0px auto;
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
  width: 50%;
}

#submitPress {
  border: 3px solid #1db954;
  background-color: #1db954;
  color: #ffffff;
  text-align: center;
  font-size: 20px;

  font-family: "Source Code Pro", monospace;
}

button {
  border: 3px solid #ffffff;
  background-color: #1db954;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}

button:hover {
  background-color: rgb(50, 214, 107);
  border-color: rgb(50, 214, 107);
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
